<!DOCTYPE html>

<html>
	<head>
		<title>View Essay - Read Me!</title>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<link rel="stylesheet" href="/css/EssayMain.css">
		<link rel="stylesheet" href="/css/page-comment.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=mKZNSJCOXub706YKUJFnC6PqF-xTnEcVvnDhm7KXv1axfg19Qgovk6DehrxVKxAwK6uHuOvSMCpNMNZ40ytdZc7twadtx_GU-H3kYyqlesS3UAkpOOlVFf243RimdVxAcdYSSXWRzcG5VKonIXWa6isNpLEptqUCqJeKagoUZIccaGlkC_uf1dtPA8mxpSyBLPqmJDmpRVeTu3xoE5hJ9873FD67lo0QRP8tCewYj6LclRaDTIOCEy9CvMZlpLkfklxlHOWW_N0CSSt-kUSTrwX63CnjbYM2Y_J64jT7G48q5iuVt7YM4FFLj-1LHVHo9ZcEnNyJKNaRX2qHkLrSStL-IbTvmabsE_OFmpJ1VJz7bwWpllLdKm_g5Bc_Bh97uEOF_zgg-V8f6mJi88deDcsc93APlcCNGIPspvDrvpepvtQXKVsHHMOluSMKR0sm4YCrnYi5ucjo5XLnfF5tX7BIQzzvwcWUG-KIBII9-QCb7VMjmmUSwDdN8srR67QJdZ3AsZnDO1RGobdaeX3deXBfxtbZjnevv70p7ZoSmoyM-7xZP9A_b7djAcFRo22Q3AefeKJyDWELqyIFlvlHFJywgCAXPpA1WpDclwjJ9Cg6IdjU2PN3xRE6c70oq0V440sYWGtkxhC4Nl8FzXo17OdCgibxtqkqEf2ayAYthXdd7lTJJ2famMGVTKO9SP8ReZ4dOmolOqN_OHSpTAdyACHJFrQ--zsUOtmD_dpmFs4y-EftKCQianD0VHkKPehOVRpokpNYSSs55vlaBHaaOPYNVHYSw7w4mN74x0rbAxC8wlhQyWvazK620WAzF8B0_a9ybrBwXQ-KZbktrXMRgJ2NQXNpIudy8lJztTgCB_wVzAazViBSWr9EOaw5ByoN0UKsa8OJpHBX4ZHW2r-WI6JS3Qd1C4IuqoJZoWYme7ny_D8Dogh8SQ5p7ai8GLQ5Q4LpTiitnrTgR1hlOp0QQC4dMEuhqMvG-wzi8wXw3rc3g_nd2-waz_yyPMSaSeZ4NCYWwAMG9i6QjTOIQtudRX2FvL2AOR5Qki6mRZYhwsKBJ1cdejAlGMOi33H9omtv_4-w3vy8aJ0iauCRc61W190z83kLJh4c72WHxNyPmKH1KNASx_tok7sl90u2FV2hzZxfkPGA218QBRiqWQuXiyUhHgosae21g6OPfX_xdFZ9rZRmPdfI15WKwXC1Wi7E9fq8PZ5eUQp72J9_LzLEARUpnn_5ctQXL5gqGdkmtTvrpuW66-dcnBt9YhCgPnOvBMV_JxfdF8h3R63SiFApo_G-rUPxEsbHIibrMqVHsHQoWJS1vX_DzIzERsIiGmcF21Bw5R08EvE1562CUfgY-83BhZIX2h4aYlgD54glRzQArhB_Oq-hs-9Iw3CaOD2FRvQnMVaJbQejYFcQGgrsUObt0nB0xEoZLvCewE8kQQHnYYF7JbQ4reNSIkqX8ZdiXmSQhjqquO-oF6uKfXYy7czRG6o2HpojK48SUZjZTO8OSgFUPt_JWsbWYDDWId7bqbl0lGzQ9RfKhg_-rRqsPyIju4U9PpnNQLmIOmc_c7Q" charset="UTF-8"></script><link rel="stylesheet" crossorigin="anonymous" href="https://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cHM6Ly9kb2MtMHMtYTgtZG9jcy5nb29nbGV1c2VyY29udGVudC5jb20vZG9jcy9zZWN1cmVzYy9qZjU3dGRqYTl0a2hpNGtpamdhYzFrN2F1bHN2cDRqNS9zM2MzZjVnZmNpNm41ZmExNWQxYzdjdjQzN2dpcmdtbi8xNjU2NjkzNTI1MDAwLzAyMTE4OTk4MzMzNTEwNTcxMzUwLzE2Nzk3MDI1OTA2ODgzMDUzMDQ1LzE5MjE2TjNJdDc3S2hIT0ROX2NtSXZLNTRxcjhyVlVuUj9lPWRvd25sb2FkJmF4PUFDeEVBc1phWWNXM2dUTGN3WGpXWjEycmdDRUM0SGdVRUFNTHY4ZUFrOGZUcTM1cEF0ZDkxUDljTzJYaWFDdVVxcHVrRzUxdmJKNmNHcTBnN19zWWdEQTN0aU5LbXpPWlh4dmZsWmxqZkdpQ214TGdmeDJpaXBNXy1TMFNQTXlITUptcng1WlJvcHc1alFRbUZMcjJ1V0ZodXNzejdfUFJodHF6TDI4bE1UbVB6WGFGMWhuRnRidkUzRTFlZ0tfQVl4Y2hmay1aM3Bvb01OYTNDZkhCUngxQmVKdGxUeEh5VC1mQkVGMkhIYjZqRTlVUmV1ZEc4aW5KR2FxM0psUWQ4ZTV0V3g2Y2l6R0RnQkI4WC0zRXAyWmlUNGZxQm9yMmlLWUxUVkxTSUR2eDBCY2lhd3pDTXIxMDNYUTBVRjM0SkQxYzI3ak1pZVcwVGtYb3p2OFhBMGF2YTVBVlpkNU5ONTA1TUhNRlpzNEZ3bF96aTZESmtiTlJQMkFWVS1KVm56Zkpjb1ZseFEwdlYzLTZNZFdvWGczQWJLSUxHRk5rd3FrQVBlRk9QTnBGNV9zbFV3Z1J6VFl0TmZaalhRQVE3UVRSQ2l6Sy1iTHBpeEp1X0w5RkNjd0FtaENCMDZSdkhVbVhkVHRZMVljYVMyZHE0ZGdkWS1qMEd3TkZzcGI4MFJ2X0FxTm5VX2pzN3NNN2RnMGVuSHZaYkh6VkEyaGZVWDJTNW1UYkJCb09Db3dxMVVmUnNSakJTNS1nOHpyOHZFWlpoTl9KOXdmc1RmVU1ETjhWRDlvTEw3Z3F6ZFZ4YUt1TmxqVjZYRk5adzdJX0pQcF9Cc1c1WTl0WkVQdDJ4T1RuZ2pFTUZ1MnN4azRoQW5kNUNTSUoydmdUSUpDQWJqSVdZZDNVdHdJQ25WV1ZtUEFEeERnM1BpZWlDQ1BwVVhCVXBIbTEzODZfNzlrMlFubmJZdVVaTVFZdG94a1ZoUDNqREh1dmxuZUFmZjBHSE5IOVR5dkcxd0x2RnltZUV3NG9BMy1UMTk3ZmZtMGgwdVhzekVtSVR2bTcmdXVpZD1iYjk0MjczYS1iZDc3LTQxMjgtYTk2ZC1iMTc0MDdhZDdiMmQmYXV0aHVzZXI9MSZub25jZT1xYWc2ZzJ0ZDR1anE4JnVzZXI9MTY3OTcwMjU5MDY4ODMwNTMwNDUmaGFzaD1sYTJnaWJnOWJtdGl2djFsYzNkdmgybGUzNXFlYWRuOQ"/>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/js/comment.js"></script>
	</head>

	<body>
		<div class="navbar">
			<a href="/" style="color:white;">Sign Out</a>
			<a href="profile?username=user123456" style="color:white;">Profile</a>
			<div class="dropdown">
				<button class="dropbtn">Menu
					<i class="fa fa-caret-down"></i>
				</button>
				<div class="dropdown-content">
					<a href="entry">Create Essay</a>
				</div>
			</div>
			<a href="/LoggedIn" style="color:white;">Home</a>
			<div class="logo">
				<img src="/images/read_me_logo.jpg" alt="Photo of Logo" />
			</div>
		</div>
		<div class="intropage">
		{{#each result}}
			<div class="essayinfo" id="essayinfo">
				<img class = "booklogo" src="../{{image}}" alt="Photo of Book" />
				<div class="essaytitle" id="essaytitle">
					<h1 id="title">{{essaytitle}}</h1>
					<p><b>Author: </b><h2>{{author}}</h2></p>
					
				</div>
			</div>
			<div class="essay" id="essay">
				{{essay}}
			</div>
		{{/each}}

			<div class="icons">
				<i onclick="#" class="fa fa-thumbs-up"></i>
				<p>Like</p>

			<div class="comment-container">
			  <h2>Post Your Comment</h2>
			  <form>
			   <textarea name="comment" class ="comment" id="comment" placeholder='Add Your Comment...'></textarea>
			   <input class='primaryContained float-right' type="button" id="submit-comment" name="submit-comment" value="Add Comment">
			  </form>
			</div>

			<h2>Comments:</h2>
			<section>
				
				{{#each comment}}
				<div class="comment">
					<a href="#" id="edit">Edit</a>
					<p>{{comment}} </p><br><span><strong>Posted by: {{username}}</strong></span>
				</div>
				{{/each}}
			</section>
		</div>
	</body>
</html>